# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env
*.env
*.sqlite3

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

#temp
temp/
